RESPUESTA VOZ WhatsApp : OPENAI.json
{
    "name": "RESPUESTA VOZ WhatsApp / OPENAI",
    "flow": [
        {
            "id": 14,
            "module": "whatsapp-business-cloud:watchEvents",
            "version": 1,
            "parameters": {
                "__IMTHOOK__": 775352
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 150,
                    "name": "WhatsApp Business"
                },
                "restore": {
                    "parameters": {
                        "__IMTHOOK__": {
                            "data": {
                                "editable": "false"
                            },
                            "label": "My WhatsApp Business Cloud Events webhook"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTHOOK__",
                        "type": "hook:whatsapp-business-cloud2",
                        "label": "Webhook",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "WhatsApp Business Account ID"
                    },
                    {
                        "name": "time",
                        "type": "date",
                        "label": "Time"
                    },
                    {
                        "name": "field",
                        "type": "text",
                        "label": "Field"
                    },
                    {
                        "name": "messages",
                        "spec": {
                            "spec": [
                                {
                                    "name": "from",
                                    "type": "text",
                                    "label": "Sender"
                                },
                                {
                                    "name": "id",
                                    "type": "text",
                                    "label": "Message ID"
                                },
                                {
                                    "name": "timestamp",
                                    "type": "date",
                                    "label": "Timestamp"
                                },
                                {
                                    "name": "text",
                                    "spec": [
                                        {
                                            "name": "body",
                                            "type": "text",
                                            "label": "Body"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Text"
                                },
                                {
                                    "name": "type",
                                    "type": "text",
                                    "label": "Type"
                                },
                                {
                                    "name": "image",
                                    "spec": [
                                        {
                                            "name": "caption",
                                            "type": "text",
                                            "label": "Caption"
                                        },
                                        {
                                            "name": "mime_type",
                                            "type": "text",
                                            "label": "MIME Type"
                                        },
                                        {
                                            "name": "sha256",
                                            "type": "text",
                                            "label": "SHA256"
                                        },
                                        {
                                            "name": "id",
                                            "type": "text",
                                            "label": "Media ID"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Image"
                                },
                                {
                                    "name": "audio",
                                    "spec": [
                                        {
                                            "name": "mime_type",
                                            "type": "text",
                                            "label": "MIME Type"
                                        },
                                        {
                                            "name": "sha256",
                                            "type": "text",
                                            "label": "SHA256"
                                        },
                                        {
                                            "name": "id",
                                            "type": "text",
                                            "label": "Media ID"
                                        },
                                        {
                                            "name": "voice",
                                            "type": "boolean",
                                            "label": "Voice"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Audio"
                                },
                                {
                                    "name": "video",
                                    "spec": [
                                        {
                                            "name": "caption",
                                            "type": "text",
                                            "label": "Caption"
                                        },
                                        {
                                            "name": "mime_type",
                                            "type": "text",
                                            "label": "MIME Type"
                                        },
                                        {
                                            "name": "sha256",
                                            "type": "text",
                                            "label": "SHA256"
                                        },
                                        {
                                            "name": "id",
                                            "type": "text",
                                            "label": "Media ID"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Video"
                                },
                                {
                                    "name": "document",
                                    "spec": [
                                        {
                                            "name": "caption",
                                            "type": "text",
                                            "label": "Caption"
                                        },
                                        {
                                            "name": "filename",
                                            "type": "text",
                                            "label": "File Name"
                                        },
                                        {
                                            "name": "mime_type",
                                            "type": "text",
                                            "label": "MIME Type"
                                        },
                                        {
                                            "name": "sha256",
                                            "type": "text",
                                            "label": "SHA256"
                                        },
                                        {
                                            "name": "id",
                                            "type": "text",
                                            "label": "Media ID"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Document"
                                },
                                {
                                    "name": "contacts",
                                    "spec": {
                                        "spec": [
                                            {
                                                "name": "name",
                                                "spec": [
                                                    {
                                                        "name": "formatted_name",
                                                        "type": "text",
                                                        "label": "Formatted Name"
                                                    },
                                                    {
                                                        "name": "first_name",
                                                        "type": "text",
                                                        "label": "First Name"
                                                    },
                                                    {
                                                        "name": "last_name",
                                                        "type": "text",
                                                        "label": "Last Name"
                                                    },
                                                    {
                                                        "name": "middle_name",
                                                        "type": "text",
                                                        "label": "Middle Name"
                                                    },
                                                    {
                                                        "name": "suffix",
                                                        "type": "text",
                                                        "label": "Name Suffix"
                                                    },
                                                    {
                                                        "name": "prefix",
                                                        "type": "text",
                                                        "label": "Name Prefix"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Name"
                                            },
                                            {
                                                "name": "phones",
                                                "spec": [
                                                    {
                                                        "name": "phone",
                                                        "type": "text",
                                                        "label": "Phone"
                                                    },
                                                    {
                                                        "name": "type",
                                                        "type": "text",
                                                        "label": "Type"
                                                    }
                                                ],
                                                "type": "array",
                                                "label": "Phones"
                                            },
                                            {
                                                "name": "emails",
                                                "spec": [
                                                    {
                                                        "name": "email",
                                                        "type": "email",
                                                        "label": "Email"
                                                    },
                                                    {
                                                        "name": "type",
                                                        "type": "text",
                                                        "label": "Type"
                                                    }
                                                ],
                                                "type": "array",
                                                "label": "Emails"
                                            },
                                            {
                                                "name": "org",
                                                "spec": [
                                                    {
                                                        "name": "company",
                                                        "type": "text",
                                                        "label": "Company"
                                                    },
                                                    {
                                                        "name": "department",
                                                        "type": "text",
                                                        "label": "Department"
                                                    },
                                                    {
                                                        "name": "title",
                                                        "type": "text",
                                                        "label": "Title"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Organization"
                                            },
                                            {
                                                "name": "urls",
                                                "spec": [
                                                    {
                                                        "name": "type",
                                                        "type": "text",
                                                        "label": "Type"
                                                    },
                                                    {
                                                        "name": "url",
                                                        "type": "url",
                                                        "label": "URL"
                                                    }
                                                ],
                                                "type": "array",
                                                "label": "URLs"
                                            },
                                            {
                                                "name": "addresses",
                                                "spec": [
                                                    {
                                                        "name": "type",
                                                        "type": "text",
                                                        "label": "Type"
                                                    },
                                                    {
                                                        "name": "street",
                                                        "type": "text",
                                                        "label": "Street"
                                                    },
                                                    {
                                                        "name": "city",
                                                        "type": "text",
                                                        "label": "City"
                                                    },
                                                    {
                                                        "name": "zip",
                                                        "type": "text",
                                                        "label": "ZIP"
                                                    },
                                                    {
                                                        "name": "country",
                                                        "type": "text",
                                                        "label": "Country"
                                                    },
                                                    {
                                                        "name": "country_code",
                                                        "type": "text",
                                                        "label": "Country Code"
                                                    }
                                                ],
                                                "type": "array",
                                                "label": "Addresses"
                                            },
                                            {
                                                "name": "birthday",
                                                "type": "text",
                                                "label": "Birthday"
                                            }
                                        ],
                                        "type": "collection"
                                    },
                                    "type": "array",
                                    "label": "Contacts"
                                },
                                {
                                    "name": "sticker",
                                    "spec": [
                                        {
                                            "name": "mime_type",
                                            "type": "text",
                                            "label": "MIME Type"
                                        },
                                        {
                                            "name": "sha256",
                                            "type": "text",
                                            "label": "SHA256"
                                        },
                                        {
                                            "name": "id",
                                            "type": "text",
                                            "label": "Media ID"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Sticker"
                                },
                                {
                                    "name": "location",
                                    "spec": [
                                        {
                                            "name": "latitude",
                                            "type": "number",
                                            "label": "Latitude"
                                        },
                                        {
                                            "name": "longitude",
                                            "type": "number",
                                            "label": "Longitude"
                                        },
                                        {
                                            "name": "name",
                                            "type": "text",
                                            "label": "Name"
                                        },
                                        {
                                            "name": "address",
                                            "type": "text",
                                            "label": "Address"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Location"
                                },
                                {
                                    "name": "context",
                                    "spec": [
                                        {
                                            "name": "from",
                                            "type": "text",
                                            "label": "From"
                                        },
                                        {
                                            "name": "id",
                                            "type": "text",
                                            "label": "Context ID"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Context"
                                },
                                {
                                    "name": "button",
                                    "spec": [
                                        {
                                            "name": "payload",
                                            "type": "text",
                                            "label": "Payload"
                                        },
                                        {
                                            "name": "text",
                                            "type": "text",
                                            "label": "Text"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Button"
                                },
                                {
                                    "name": "interactive",
                                    "spec": [
                                        {
                                            "name": "type",
                                            "type": "text",
                                            "label": "Type"
                                        },
                                        {
                                            "name": "list_reply",
                                            "spec": [
                                                {
                                                    "name": "id",
                                                    "type": "number",
                                                    "label": "ID"
                                                },
                                                {
                                                    "name": "title",
                                                    "type": "text",
                                                    "label": "Title"
                                                },
                                                {
                                                    "name": "description",
                                                    "type": "text",
                                                    "label": "Description"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "List Reply"
                                        },
                                        {
                                            "name": "button_reply",
                                            "spec": [
                                                {
                                                    "name": "id",
                                                    "type": "number",
                                                    "label": "ID"
                                                },
                                                {
                                                    "name": "title",
                                                    "type": "text",
                                                    "label": "Title"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Button Reply"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Interactive"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": "Messages"
                    },
                    {
                        "name": "messaging_product",
                        "type": "text",
                        "label": "Messaging Product"
                    },
                    {
                        "name": "metadata",
                        "spec": [
                            {
                                "name": "display_phone_number",
                                "type": "text",
                                "label": "Display Phone Number"
                            },
                            {
                                "name": "phone_number_id",
                                "type": "text",
                                "label": "Phone Number ID"
                            }
                        ],
                        "type": "collection",
                        "label": "Metadata"
                    },
                    {
                        "name": "contacts",
                        "spec": {
                            "spec": [
                                {
                                    "name": "profile",
                                    "spec": [
                                        {
                                            "name": "name",
                                            "type": "text",
                                            "label": "Name"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Profile"
                                },
                                {
                                    "name": "wa_id",
                                    "type": "text",
                                    "label": "WhatsApp ID"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": "Contacts"
                    },
                    {
                        "name": "statuses",
                        "spec": {
                            "spec": [
                                {
                                    "name": "id",
                                    "type": "text",
                                    "label": "Message ID"
                                },
                                {
                                    "name": "status",
                                    "type": "text",
                                    "label": "Status"
                                },
                                {
                                    "name": "timestamp",
                                    "type": "date",
                                    "label": "Timestamp"
                                },
                                {
                                    "name": "recipient_id",
                                    "type": "text",
                                    "label": "Recipient ID"
                                },
                                {
                                    "name": "conversation",
                                    "spec": [
                                        {
                                            "name": "id",
                                            "type": "text",
                                            "label": "Conversation ID"
                                        },
                                        {
                                            "name": "expiration_timestamp",
                                            "type": "date",
                                            "label": "Expiration Timestamp"
                                        },
                                        {
                                            "name": "origin",
                                            "spec": [
                                                {
                                                    "name": "type",
                                                    "type": "text",
                                                    "label": "Type"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Origin"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Conversation"
                                },
                                {
                                    "name": "pricing",
                                    "spec": [
                                        {
                                            "name": "billable",
                                            "type": "boolean",
                                            "label": "Billable"
                                        },
                                        {
                                            "name": "pricing_model",
                                            "type": "text",
                                            "label": "Pricing Model"
                                        },
                                        {
                                            "name": "category",
                                            "type": "text",
                                            "label": "Category"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Pricing"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": "Statuses"
                    },
                    {
                        "name": "message_template_id",
                        "type": "number",
                        "label": "Message Template ID"
                    },
                    {
                        "name": "message_template_name",
                        "type": "text",
                        "label": "Message Template Name"
                    },
                    {
                        "name": "message_template_language",
                        "type": "text",
                        "label": "Message Template Language"
                    },
                    {
                        "name": "reason",
                        "type": "text",
                        "label": "Reason"
                    },
                    {
                        "name": "phone_number",
                        "type": "text",
                        "label": "Phone Number"
                    },
                    {
                        "name": "max_daily_conversation_per_phone",
                        "type": "number",
                        "label": "Max Daily Conversation Per Phone"
                    },
                    {
                        "name": "max_phone_numbers_per_business",
                        "type": "number",
                        "label": "Max Phone Numbers Per Business"
                    },
                    {
                        "name": "decision",
                        "type": "text",
                        "label": "Decision"
                    },
                    {
                        "name": "requested_verified_name",
                        "type": "text",
                        "label": "Requested Verified Name"
                    },
                    {
                        "name": "rejection_reason",
                        "type": "text",
                        "label": "Rejection Reason"
                    },
                    {
                        "name": "display_phone_number",
                        "type": "text",
                        "label": "Display Phone Number"
                    },
                    {
                        "name": "event",
                        "type": "text",
                        "label": "Event"
                    },
                    {
                        "name": "current_limit",
                        "type": "text",
                        "label": "Current Limit"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "whatsapp-business-cloud:getMedia",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 602365
            },
            "filter": {
                "name": "AUDIO",
                "conditions": [
                    [
                        {
                            "a": "{{14.messages[].type}}",
                            "b": "audio",
                            "o": "text:equal"
                        }
                    ]
                ]
            },
            "mapper": {
                "mediaId": "{{14.messages[].audio.id}}"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 150
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "whatsapp-business-cloud2"
                            },
                            "label": "Nemeda WhatsApp Business Cloud (WhatsBot)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:whatsapp-business-cloud2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "mediaId",
                        "type": "text",
                        "label": "Media ID",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 8,
            "module": "google-drive:uploadAFile",
            "version": 4,
            "parameters": {
                "__IMTCONN__": 539978
            },
            "mapper": {
                "data": "{{2.mediaData}}",
                "select": "value",
                "convert": false,
                "filename": "{{2.mediaName}}",
                "folderId": "/1-u_SEGsmonn510icasihxrbfhA7WTsZD",
                "destination": "drive"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 150
                },
                "restore": {
                    "expect": {
                        "select": {
                            "label": "Select from the list"
                        },
                        "folderId": {
                            "mode": "chose",
                            "path": [
                                "WhatsApp"
                            ]
                        },
                        "destination": {
                            "label": "My Drive"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google-restricted"
                            },
                            "label": "My Google Restricted connection (miquel@nemeda.io)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google-restricted",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Enter a Folder ID",
                        "required": true,
                        "validate": {
                            "enum": [
                                "map",
                                "value"
                            ]
                        }
                    },
                    {
                        "name": "title",
                        "type": "text",
                        "label": "New File Name"
                    },
                    {
                        "name": "filename",
                        "type": "filename",
                        "label": "File Name",
                        "required": true
                    },
                    {
                        "name": "data",
                        "type": "buffer",
                        "label": "Data",
                        "required": true
                    },
                    {
                        "name": "convert",
                        "type": "boolean",
                        "label": "Convert a File",
                        "required": true
                    },
                    {
                        "name": "destination",
                        "type": "select",
                        "label": "New Drive Location",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "folderId",
                        "type": "folder",
                        "label": "New Folder Location",
                        "required": true
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 12,
            "module": "google-cloud-speech:speechRecognize",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 680492
            },
            "mapper": {
                "content": "{{2.mediaData}}",
                "encoding": "OGG_OPUS",
                "fileName": "{{2.mediaName}}",
                "metadata": {},
                "FLACorWAV": true,
                "uploadType": "content",
                "languageCode": "es-ES",
                "sampleRateHertz": "16000",
                "audioChannelCount": "1",
                "enableSeparateRecognitionPerChannel": false
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 150
                },
                "restore": {
                    "expect": {
                        "encoding": {
                            "mode": "chose",
                            "label": "OGG_OPUS"
                        },
                        "metadata": {
                            "nested": {
                                "interactionType": {
                                    "mode": "chose",
                                    "label": "Empty"
                                },
                                "originalMediaType": {
                                    "mode": "chose",
                                    "label": "Empty"
                                },
                                "microphoneDistance": {
                                    "mode": "chose",
                                    "label": "Empty"
                                },
                                "recordingDeviceType": {
                                    "mode": "chose",
                                    "label": "Empty"
                                }
                            }
                        },
                        "FLACorWAV": {
                            "mode": "chose"
                        },
                        "uploadType": {
                            "mode": "chose",
                            "label": "Content"
                        },
                        "useEnhanced": {
                            "mode": "chose"
                        },
                        "languageCode": {
                            "mode": "chose",
                            "label": "Español (España)"
                        },
                        "speechContexts": {
                            "mode": "chose"
                        },
                        "profanityFilter": {
                            "mode": "chose"
                        },
                        "enableWordConfidence": {
                            "mode": "chose"
                        },
                        "enableWordTimeOffsets": {
                            "mode": "chose"
                        },
                        "alternativeLanguageCodes": {
                            "mode": "chose"
                        },
                        "enableSpeakerDiarization": {
                            "mode": "chose"
                        },
                        "enableAutomaticPunctuation": {
                            "mode": "chose"
                        },
                        "enableSeparateRecognitionPerChannel": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google-cloud-speech"
                            },
                            "label": "Miquel-Google-Voz-txt"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google-cloud-speech",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "uploadType",
                        "type": "select",
                        "label": "Upload Type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "content",
                                "uri"
                            ]
                        }
                    },
                    {
                        "name": "FLACorWAV",
                        "type": "boolean",
                        "label": "Uploaded file is neither FLAC nor WAV",
                        "required": true
                    },
                    {
                        "name": "audioChannelCount",
                        "type": "uinteger",
                        "label": "Audio channels count",
                        "required": true,
                        "validate": {
                            "max": 10,
                            "min": 1
                        }
                    },
                    {
                        "name": "enableSeparateRecognitionPerChannel",
                        "type": "boolean",
                        "label": "Enable separate recognition per channel",
                        "required": true
                    },
                    {
                        "name": "languageCode",
                        "type": "select",
                        "label": "Language Code (BCP-47)",
                        "required": true
                    },
                    {
                        "name": "alternativeLanguageCodes",
                        "spec": {
                            "name": "value",
                            "type": "select",
                            "label": "BCP-47 language tags",
                            "dynamic": true,
                            "options": []
                        },
                        "type": "array",
                        "label": "Additional language tags",
                        "validate": {
                            "maxItems": 3
                        }
                    },
                    {
                        "name": "maxAlternatives",
                        "type": "uinteger",
                        "label": "Number of alternatives",
                        "validate": {
                            "max": 30,
                            "min": 0
                        }
                    },
                    {
                        "name": "profanityFilter",
                        "type": "boolean",
                        "label": "Profanity Filter"
                    },
                    {
                        "name": "speechContexts",
                        "spec": [
                            {
                                "name": "phrases",
                                "spec": {
                                    "type": "text"
                                },
                                "type": "array",
                                "label": "Phrases"
                            },
                            {
                                "name": "boost",
                                "type": "number",
                                "label": "Boost"
                            }
                        ],
                        "type": "array",
                        "label": "SpeechContexts"
                    },
                    {
                        "name": "enableWordTimeOffsets",
                        "type": "boolean",
                        "label": "Enable word time offsets"
                    },
                    {
                        "name": "enableWordConfidence",
                        "type": "boolean",
                        "label": "Enable word confidence"
                    },
                    {
                        "name": "enableAutomaticPunctuation",
                        "type": "boolean",
                        "label": "Enable automatic punctuation"
                    },
                    {
                        "name": "enableSpeakerDiarization",
                        "type": "boolean",
                        "label": "Enable speaker diarization"
                    },
                    {
                        "name": "diarizationSpeakerCount",
                        "type": "number",
                        "label": "Diarization speaker count"
                    },
                    {
                        "name": "metadata",
                        "spec": [
                            {
                                "name": "interactionType",
                                "type": "select",
                                "label": "Interaction type",
                                "validate": {
                                    "enum": [
                                        "INTERACTION_TYPE_UNSPECIFIED",
                                        "DISCUSSION",
                                        "PRESENTATION",
                                        "PHONE_CALL",
                                        "VOICEMAIL",
                                        "PROFESSIONALLY_PRODUCED",
                                        "VOICE_SEARCH",
                                        "VOICE_COMMAND",
                                        "DICTATION"
                                    ]
                                }
                            },
                            {
                                "name": "industryNaicsCodeOfAudio",
                                "type": "uinteger",
                                "label": "Industry NAICS code of audio"
                            },
                            {
                                "name": "microphoneDistance",
                                "type": "select",
                                "label": "Microphone distance",
                                "validate": {
                                    "enum": [
                                        "MICROPHONE_DISTANCE_UNSPECIFIED",
                                        "NEARFIELD",
                                        "MIDFIELD",
                                        "FARFIELD"
                                    ]
                                }
                            },
                            {
                                "name": "originalMediaType",
                                "type": "select",
                                "label": "Original media type",
                                "validate": {
                                    "enum": [
                                        "ORIGINAL_MEDIA_TYPE_UNSPECIFIED",
                                        "AUDIO",
                                        "VIDEO"
                                    ]
                                }
                            },
                            {
                                "name": "recordingDeviceType",
                                "type": "select",
                                "label": "Recording device type",
                                "validate": {
                                    "enum": [
                                        "RECORDING_DEVICE_TYPE_UNSPECIFIED",
                                        "SMARTPHONE",
                                        "PC",
                                        "PHONE_LINE",
                                        "VEHICLE",
                                        "OTHER_OUTDOOR_DEVICE",
                                        "OTHER_INDOOR_DEVICE"
                                    ]
                                }
                            },
                            {
                                "name": "recordingDeviceName",
                                "type": "text",
                                "label": "Recording device name"
                            },
                            {
                                "name": "originalMimeType",
                                "type": "text",
                                "label": "Original MIME type"
                            },
                            {
                                "name": "obfuscatedId",
                                "type": "text",
                                "label": "Obfuscated ID"
                            },
                            {
                                "name": "audioTopic",
                                "type": "text",
                                "label": "Audio topic"
                            }
                        ],
                        "type": "collection",
                        "label": "Metadata"
                    },
                    {
                        "name": "useEnhanced",
                        "type": "boolean",
                        "label": "Enhanced"
                    },
                    {
                        "name": "fileName",
                        "type": "filename",
                        "label": "File name"
                    },
                    {
                        "name": "content",
                        "type": "buffer",
                        "label": "The audio file",
                        "required": true
                    },
                    {
                        "name": "encoding",
                        "type": "select",
                        "label": "Audio Encoding",
                        "required": true,
                        "validate": {
                            "enum": [
                                "ENCODING_UNSPECIFIED",
                                "LINEAR16",
                                "FLAC",
                                "MULAW",
                                "AMR",
                                "AMR_WB",
                                "OGG_OPUS",
                                "SPEEX_WITH_HEADER_BYTE",
                                "MP3"
                            ]
                        }
                    },
                    {
                        "name": "sampleRateHertz",
                        "type": "number",
                        "label": "Sample rate in Hertz",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "type": "uinteger",
                        "label": "Total number of bundles"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "type": "uinteger",
                        "label": "Bundle order position"
                    },
                    {
                        "help": "Output only. May contain one or more recognition hypotheses (up to the maximum specified in *maxAlternatives*). These alternatives are ordered in terms of accuracy, with the top (first) alternative being the most probable, as ranked by the recognizer.",
                        "name": "alternatives",
                        "spec": [
                            {
                                "help": "Output only. Transcript text representing the words that the user spoke.",
                                "name": "transcript",
                                "type": "text",
                                "label": "Transcript"
                            },
                            {
                                "help": "Output only. The confidence estimate between 0.0 and 1.0. A higher number indicates an estimated greater likelihood that the recognized words are correct. This field is set only for the top alternative of a non-streaming result or, of a streaming result where *isFinal=true*. This field is not guaranteed to be accurate and users should not rely on it to be always provided. The default of 0.0 is a sentinel value indicating *confidence* was not set.",
                                "name": "confidence",
                                "type": "number",
                                "label": "Confidence"
                            },
                            {
                                "help": "Output only. A list of word-specific information for each recognized word. Note: When enableSpeakerDiarization is true, you will see all the words from the beginning of the audio.",
                                "name": "words",
                                "spec": [
                                    {
                                        "help": "Output only. Time offset relative to the beginning of the audio, and corresponding to the start of the spoken word. This field is only set if *enableWordTimeOffsets=true* and only in the top hypothesis. This is an experimental feature and the accuracy of the time offset can vary.\n\nA duration in seconds with up to nine fractional digits, terminated by '*s*'. Example: \"*3.5s*\".",
                                        "name": "startTime",
                                        "type": "text",
                                        "label": "Start time"
                                    },
                                    {
                                        "help": "Output only. Time offset relative to the beginning of the audio, and corresponding to the end of the spoken word. This field is only set if *enableWordTimeOffsets=true* and only in the top hypothesis. This is an experimental feature and the accuracy of the time offset can vary.\n\nA duration in seconds with up to nine fractional digits, terminated by '*s*'. Example: \"*3.5s*\".",
                                        "name": "endTime",
                                        "type": "text",
                                        "label": "End time"
                                    },
                                    {
                                        "help": "Output only. The word corresponding to this set of information.",
                                        "name": "word",
                                        "type": "text",
                                        "label": "Word"
                                    },
                                    {
                                        "help": "Output only. The confidence estimate between 0.0 and 1.0. A higher number indicates an estimated greater likelihood that the recognized words are correct. This field is set only for the top alternative of a non-streaming result or, of a streaming result where *isFinal=true*. This field is not guaranteed to be accurate and users should not rely on it to be always provided. The default of 0.0 is a sentinel value indicating *confidence* was not set.",
                                        "name": "confidence",
                                        "type": "number",
                                        "label": "Confidence"
                                    },
                                    {
                                        "help": "Output only. A distinct integer value is assigned for every speaker within the audio. This field specifies which one of those speakers was detected to have spoken this word. Value ranges from '1' to diarizationSpeakerCount. speakerTag is set if enableSpeakerDiarization = 'true' and only in the top alternative.",
                                        "name": "speakerTag",
                                        "type": "number",
                                        "label": "Speaker tag"
                                    }
                                ],
                                "type": "array",
                                "label": "Words"
                            }
                        ],
                        "type": "array",
                        "label": "Speech Recognition Alternatives"
                    },
                    {
                        "help": "For multi-channel audio, this is the channel number corresponding to the recognized result for the audio from that channel. For audioChannelCount = N, its output values can range from '1' to 'N'.",
                        "name": "channelTag",
                        "type": "number",
                        "label": "Channel Tag"
                    },
                    {
                        "help": "Output only. The [BCP-47](https://www.rfc-editor.org/rfc/bcp/bcp47.txt) language tag of the language in this result. This language code was detected to have the most likelihood of being spoken in the audio.",
                        "name": "languageCode",
                        "type": "text",
                        "label": "Language Code"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 28,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 150
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 6,
                            "module": "airtable:ActionCreateRecord",
                            "version": 3,
                            "parameters": {
                                "__IMTCONN__": 540004
                            },
                            "mapper": {
                                "base": "appVEXs5DbqVemMQW",
                                "table": "WhatsApp Business",
                                "record": {
                                    "fldwfhrSTUlspdZpd": "{{12.alternatives[].transcript}}"
                                },
                                "typecast": false,
                                "useColumnId": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 0
                                },
                                "restore": {
                                    "expect": {
                                        "base": {
                                            "label": "TESTs"
                                        },
                                        "table": {
                                            "label": "WhatsApp Business",
                                            "nested": [
                                                {
                                                    "name": "record",
                                                    "spec": [
                                                        {
                                                            "name": "fld0bXWMed3USvQVa",
                                                            "type": "text",
                                                            "label": "Name"
                                                        },
                                                        {
                                                            "name": "fldKI9xmmUxVwATS7",
                                                            "type": "text",
                                                            "label": "mobil"
                                                        },
                                                        {
                                                            "name": "fldPtfSAlja9ZaCUg",
                                                            "type": "text",
                                                            "label": "message ID"
                                                        },
                                                        {
                                                            "name": "fldxQdkffQ0tn34F4",
                                                            "time": true,
                                                            "type": "date",
                                                            "label": "Date"
                                                        },
                                                        {
                                                            "name": "fldBqWLm1bQKZAsXr",
                                                            "type": "text",
                                                            "label": "Type"
                                                        },
                                                        {
                                                            "name": "fldwfhrSTUlspdZpd",
                                                            "type": "text",
                                                            "label": "Body message"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Record"
                                                }
                                            ]
                                        },
                                        "typecast": {
                                            "mode": "chose"
                                        },
                                        "useColumnId": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "airtable2"
                                            },
                                            "label": "Nemeda Airtable"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:airtable2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "base",
                                        "type": "select",
                                        "label": "Base",
                                        "required": true
                                    },
                                    {
                                        "name": "typecast",
                                        "type": "boolean",
                                        "label": "Smart links",
                                        "required": true
                                    },
                                    {
                                        "name": "useColumnId",
                                        "type": "boolean",
                                        "label": "Use Column ID",
                                        "required": true
                                    },
                                    {
                                        "name": "table",
                                        "type": "select",
                                        "label": "Table",
                                        "required": true
                                    },
                                    {
                                        "name": "record",
                                        "spec": [
                                            {
                                                "name": "fld0bXWMed3USvQVa",
                                                "type": "text",
                                                "label": "Name"
                                            },
                                            {
                                                "name": "fldKI9xmmUxVwATS7",
                                                "type": "text",
                                                "label": "mobil"
                                            },
                                            {
                                                "name": "fldPtfSAlja9ZaCUg",
                                                "type": "text",
                                                "label": "message ID"
                                            },
                                            {
                                                "name": "fldxQdkffQ0tn34F4",
                                                "time": true,
                                                "type": "date",
                                                "label": "Date"
                                            },
                                            {
                                                "name": "fldBqWLm1bQKZAsXr",
                                                "type": "text",
                                                "label": "Type"
                                            },
                                            {
                                                "name": "fldwfhrSTUlspdZpd",
                                                "type": "text",
                                                "label": "Body message"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Record"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "createdTime",
                                        "type": "date",
                                        "label": "Created Time"
                                    },
                                    {
                                        "name": "number Whats",
                                        "type": "number",
                                        "label": "number Whats"
                                    },
                                    {
                                        "name": "Name",
                                        "type": "text",
                                        "label": "Name"
                                    },
                                    {
                                        "name": "mobil",
                                        "type": "text",
                                        "label": "mobil"
                                    },
                                    {
                                        "name": "message ID",
                                        "type": "text",
                                        "label": "message ID"
                                    },
                                    {
                                        "name": "Date",
                                        "time": true,
                                        "type": "date",
                                        "label": "Date"
                                    },
                                    {
                                        "name": "Type",
                                        "type": "text",
                                        "label": "Type"
                                    },
                                    {
                                        "name": "Body message",
                                        "type": "text",
                                        "label": "Body message"
                                    },
                                    {
                                        "name": "DATOS",
                                        "spec": [
                                            {
                                                "name": "id",
                                                "type": "text",
                                                "label": "ID"
                                            },
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "filename",
                                                "type": "filename",
                                                "label": "File name"
                                            },
                                            {
                                                "name": "size",
                                                "type": "uinteger",
                                                "label": "Size"
                                            },
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "MIME type"
                                            },
                                            {
                                                "name": "thumbnails",
                                                "spec": [
                                                    {
                                                        "name": "small",
                                                        "spec": [
                                                            {
                                                                "name": "url",
                                                                "type": "url",
                                                                "label": "URL"
                                                            },
                                                            {
                                                                "name": "width",
                                                                "type": "uinteger",
                                                                "label": "Width"
                                                            },
                                                            {
                                                                "name": "height",
                                                                "type": "uinteger",
                                                                "label": "Height"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Small"
                                                    },
                                                    {
                                                        "name": "large",
                                                        "spec": [
                                                            {
                                                                "name": "url",
                                                                "type": "url",
                                                                "label": "URL"
                                                            },
                                                            {
                                                                "name": "width",
                                                                "type": "uinteger",
                                                                "label": "Width"
                                                            },
                                                            {
                                                                "name": "height",
                                                                "type": "uinteger",
                                                                "label": "Height"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Large"
                                                    },
                                                    {
                                                        "name": "full",
                                                        "spec": [
                                                            {
                                                                "name": "url",
                                                                "type": "url",
                                                                "label": "URL"
                                                            },
                                                            {
                                                                "name": "width",
                                                                "type": "uinteger",
                                                                "label": "Width"
                                                            },
                                                            {
                                                                "name": "height",
                                                                "type": "uinteger",
                                                                "label": "Height"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Full"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Thumbnails"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "DATOS"
                                    },
                                    {
                                        "name": "LOCATION_ID",
                                        "type": "text",
                                        "label": "LOCATION_ID"
                                    },
                                    {
                                        "name": "LOCATION_latitude",
                                        "type": "text",
                                        "label": "LOCATION_latitude"
                                    },
                                    {
                                        "name": "LOCATION_longitude",
                                        "type": "text",
                                        "label": "LOCATION_longitude"
                                    },
                                    {
                                        "name": "contact_id",
                                        "type": "text",
                                        "label": "contact_id"
                                    },
                                    {
                                        "name": "contact_name",
                                        "type": "text",
                                        "label": "contact_name"
                                    },
                                    {
                                        "name": "contact_phone",
                                        "type": "text",
                                        "label": "contact_phone"
                                    },
                                    {
                                        "name": "contact_email",
                                        "type": "text",
                                        "label": "contact_email"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 22,
                            "module": "openai-gpt-3:CreateCompletion",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 928435
                            },
                            "mapper": {
                                "select": "prompt",
                                "temperature": "0.9",
                                "model": "text-davinci-003",
                                "prompt": "responde a \"{{12.alternatives[].transcript}}\""
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 300
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "My OpenAI connection",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "openai-gpt-3"
                                            }
                                        }
                                    },
                                    "expect": {
                                        "select": {
                                            "label": "Create a Prompt Completion"
                                        },
                                        "echo": {
                                            "mode": "chose"
                                        },
                                        "additionalParameters": {
                                            "mode": "chose"
                                        },
                                        "model": {
                                            "mode": "chose",
                                            "label": "text-davinci-003"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:openai-gpt-3",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "select",
                                        "type": "select",
                                        "label": "Select Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "prompt",
                                                "chat"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "max_tokens",
                                        "type": "number",
                                        "label": "Max Tokens"
                                    },
                                    {
                                        "name": "temperature",
                                        "type": "number",
                                        "label": "Temperature"
                                    },
                                    {
                                        "name": "top_p",
                                        "type": "number",
                                        "label": "Top p"
                                    },
                                    {
                                        "name": "n_completions",
                                        "type": "number",
                                        "label": "N"
                                    },
                                    {
                                        "name": "echo",
                                        "type": "boolean",
                                        "label": "Echo"
                                    },
                                    {
                                        "name": "additionalParameters",
                                        "type": "array",
                                        "label": "Other Input Parameters",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Parameter Name",
                                                "required": true
                                            },
                                            {
                                                "name": "type",
                                                "type": "select",
                                                "label": "Input Type",
                                                "options": [
                                                    {
                                                        "label": "Text",
                                                        "value": "text",
                                                        "nested": [
                                                            {
                                                                "name": "value",
                                                                "type": "text",
                                                                "label": "Parameter Value"
                                                            }
                                                        ],
                                                        "default": true
                                                    },
                                                    {
                                                        "label": "Number",
                                                        "value": "number",
                                                        "nested": [
                                                            {
                                                                "name": "value",
                                                                "type": "number",
                                                                "label": "Parameter Value"
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "label": "Boolean",
                                                        "value": "boolean",
                                                        "nested": [
                                                            {
                                                                "name": "value",
                                                                "type": "boolean",
                                                                "label": "Parameter Value"
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "label": "Date",
                                                        "value": "date",
                                                        "nested": [
                                                            {
                                                                "name": "value",
                                                                "type": "date",
                                                                "label": "Parameter Value"
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "label": "Any",
                                                        "value": "any",
                                                        "nested": [
                                                            {
                                                                "name": "value",
                                                                "type": "any",
                                                                "label": "Parameter Value"
                                                            }
                                                        ]
                                                    }
                                                ]
                                            }
                                        ]
                                    },
                                    {
                                        "name": "model",
                                        "type": "select",
                                        "label": "Model",
                                        "required": true
                                    },
                                    {
                                        "name": "prompt",
                                        "type": "any",
                                        "label": "Prompt"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 25,
                            "module": "google-cloud-tts:synthesizeSpeech",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 689528
                            },
                            "mapper": {
                                "input": "{{22.choices[].text}}",
                                "voice": {
                                    "languageCode": "es-ES",
                                    "ssmlGender": "FEMALE"
                                },
                                "audioConfig": {
                                    "audioEncoding": "MP3",
                                    "speakingRate": "1.0"
                                }
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1800,
                                    "y": 300
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "Miquel-Google-TXT-Voz (miquel@nemeda.io)",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google-custom"
                                            }
                                        }
                                    },
                                    "expect": {
                                        "voice": {
                                            "nested": {
                                                "languageCode": {
                                                    "mode": "chose",
                                                    "label": "Spanish (Spain)"
                                                },
                                                "name": {
                                                    "mode": "chose",
                                                    "label": "Empty"
                                                },
                                                "ssmlGender": {
                                                    "mode": "chose",
                                                    "label": "Female"
                                                }
                                            }
                                        },
                                        "audioConfig": {
                                            "nested": {
                                                "audioEncoding": {
                                                    "mode": "chose",
                                                    "label": "MP3"
                                                },
                                                "effectsProfileId": {
                                                    "mode": "chose"
                                                }
                                            }
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google-custom",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "input",
                                        "type": "text",
                                        "label": "Text or SSML",
                                        "required": true
                                    },
                                    {
                                        "name": "voice",
                                        "type": "collection",
                                        "label": "Voice",
                                        "spec": [
                                            {
                                                "name": "languageCode",
                                                "type": "select",
                                                "label": "Language Code",
                                                "required": true
                                            },
                                            {
                                                "name": "name",
                                                "type": "select",
                                                "label": "Name of Voice"
                                            },
                                            {
                                                "name": "ssmlGender",
                                                "type": "select",
                                                "label": "SSML Gender",
                                                "validate": {
                                                    "enum": [
                                                        "MALE",
                                                        "FEMALE",
                                                        "NEUTRAL"
                                                    ]
                                                }
                                            }
                                        ]
                                    },
                                    {
                                        "name": "audioConfig",
                                        "type": "collection",
                                        "label": "Audio Config",
                                        "spec": [
                                            {
                                                "name": "audioEncoding",
                                                "type": "select",
                                                "label": "Audio Encoding",
                                                "required": true,
                                                "validate": {
                                                    "enum": [
                                                        "LINEAR16",
                                                        "MP3",
                                                        "OGG_OPUS"
                                                    ]
                                                }
                                            },
                                            {
                                                "name": "speakingRate",
                                                "type": "number",
                                                "label": "Speaking Rate",
                                                "validate": {
                                                    "max": 4,
                                                    "min": 0.25
                                                }
                                            },
                                            {
                                                "name": "pitch",
                                                "type": "number",
                                                "label": "Speaking Pitch",
                                                "validate": {
                                                    "max": 20,
                                                    "min": -20
                                                }
                                            },
                                            {
                                                "name": "volumeGainDb",
                                                "type": "number",
                                                "label": "Volume Gain dB",
                                                "validate": {
                                                    "max": 16,
                                                    "min": -96
                                                }
                                            },
                                            {
                                                "name": "sampleRateHertz",
                                                "type": "uinteger",
                                                "label": "Sample Rate Hertz"
                                            },
                                            {
                                                "name": "effectsProfileId",
                                                "type": "array",
                                                "label": "Effects Profile ID",
                                                "spec": {
                                                    "type": "select",
                                                    "options": [
                                                        {
                                                            "label": "Smart watches and other wearables",
                                                            "value": "wearable-class-device"
                                                        },
                                                        {
                                                            "label": "Smartphones",
                                                            "value": "handset-class-device"
                                                        },
                                                        {
                                                            "label": "Earbuds or headphones",
                                                            "value": "headphone-class-device"
                                                        },
                                                        {
                                                            "label": "Small home speakers",
                                                            "value": "small-bluetooth-speaker-class-device"
                                                        },
                                                        {
                                                            "label": "Smart home speakers",
                                                            "value": "medium-bluetooth-speaker-class-device"
                                                        },
                                                        {
                                                            "label": "Home entertainment systems",
                                                            "value": "large-home-entertainment-class-device"
                                                        },
                                                        {
                                                            "label": "Car speakers",
                                                            "value": "large-automotive-class-device"
                                                        },
                                                        {
                                                            "label": "Interactive Voice Response (IVR) systems",
                                                            "value": "telephony-class-application"
                                                        }
                                                    ],
                                                    "name": "value"
                                                }
                                            }
                                        ]
                                    },
                                    {
                                        "name": "fileName",
                                        "type": "text",
                                        "label": "File Name"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 26,
                            "module": "whatsapp-business-cloud:uploadMedia",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 602365
                            },
                            "mapper": {
                                "data": "{{25.data}}",
                                "fromId": "101681725908899",
                                "filename": "{{25.fileName}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2100,
                                    "y": 300
                                },
                                "restore": {
                                    "expect": {
                                        "fromId": {
                                            "mode": "chose",
                                            "label": "Test Number (15550050097)"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "whatsapp-business-cloud2"
                                            },
                                            "label": "Nemeda WhatsApp Business Cloud (WhatsBot)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:whatsapp-business-cloud2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "mode": "edit",
                                        "name": "fromId",
                                        "type": "select",
                                        "label": "Sender ID",
                                        "required": true
                                    },
                                    {
                                        "name": "filename",
                                        "type": "filename",
                                        "label": "File name",
                                        "required": true
                                    },
                                    {
                                        "name": "data",
                                        "type": "buffer",
                                        "label": "Data",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 27,
                            "module": "whatsapp-business-cloud:sendMessage",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 602365
                            },
                            "mapper": {
                                "fromId": "101681725908899",
                                "to": "{{14.contacts[].wa_id}}",
                                "type": "audio",
                                "audio": {
                                    "id": "{{26.id}}"
                                }
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2400,
                                    "y": 300
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "Nemeda WhatsApp Business Cloud (WhatsBot)",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "whatsapp-business-cloud2"
                                            }
                                        }
                                    },
                                    "expect": {
                                        "fromId": {
                                            "mode": "chose",
                                            "label": "Test Number (15550050097)"
                                        },
                                        "type": {
                                            "label": "Audio"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:whatsapp-business-cloud2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "type": "hidden"
                                    },
                                    {
                                        "name": "fromId",
                                        "type": "select",
                                        "label": "Sender ID",
                                        "required": true
                                    },
                                    {
                                        "name": "to",
                                        "type": "text",
                                        "label": "Receiver",
                                        "required": true
                                    },
                                    {
                                        "name": "type",
                                        "type": "select",
                                        "label": "Message Type",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "text",
                                                "image",
                                                "audio",
                                                "video",
                                                "document",
                                                "sticker",
                                                "location",
                                                "contacts",
                                                "interactive"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "audio",
                                        "type": "collection",
                                        "label": "Audio",
                                        "spec": [
                                            {
                                                "name": "id",
                                                "type": "text",
                                                "label": "Media ID"
                                            },
                                            {
                                                "name": "link",
                                                "type": "url",
                                                "label": "Media URL"
                                            }
                                        ]
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com"
    }
}